asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
coverage==5.1
crayons==0.3.0
dj-database-url==0.5.0
Django==3.0.6
django-autocomplete-light==3.6.0.dev1
django-heroku==0.3.1
entrypoints==0.3
flake8==3.8.0a2
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
mccabe==0.6.1
psycopg2==2.8.5
pycodestyle==2.6.0a1
pyflakes==2.2.0
pytz==2020.1
requests==2.23.0
selenium==4.0.0a5
sentry-sdk==0.14.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
webdriver-manager==2.4.0
zipp==3.1.0
