{% extends 'products/base.html' %}

{% block content %}

  <!-- substitute header -->
  <header class="substitutehead">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <h1 class="text-uppercase font-weight-bold">NOM SUBSTITUT</h1>
      </div>
    </div>
  </header>

  <!-- substitute Section -->
  <section>
    <div class="container-substitute">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mt-3 text-center"><h3>Nutriscore</h3>
            <div class="row justify-content-center">
              <div class="col-1">A</div>
              <div class="col-1">B</div>
              <div class="col-1">C</div>
              <div class="col-1">D</div>
              <div class="col-1">E</div>
            </div>
          </div>
          <div class="col-lg-6 mb-5 mt-3 text-center"><h3>Repères nutritionnels pour 100g</h3>
            <div class="row">
              <div class="col-6 ml-5 pl-4 text-left">Matières grasses / Lipides : </div>
            </div>
            <div class="row">
              <div class="col-6 ml-5 pl-4 text-left">Acides gras saturés : </div>
            </div>
            <div class="row">
              <div class="col-6 ml-5 pl-4 text-left">Sucres : </div>
            </div>
            <div class="row">
              <div class="col-6 ml-5 pl-4 text-left">Sels : </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="container-account justify-content-center">
            <a href="#APIOPF"><h2>Voir la fiche d'Open Food Facts</h2></a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}